{% extends 'core/index.html'%}

{% block title %}Profile{% endblock %}
{% load static %}

{% block content %}
<h1 style="margin: 60px"></h1>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-9">

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row justify-content-center">
            <!-- Avatar -->
            <div class="col-md-3">
              {% if profile.avatar %}
              <br>
                <img src="{{profile.avatar.url}}" style="width: 180px; height: 120px;" class="img-fluid" alt="Responsive image">
              {% else %}
                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
              {% endif %}
            </div>
            <!-- Campos -->
            <div class="col-md-6">
             <br>
              <h3>{{profile.user|title}}</h3>
              </p>
              {% if profile.bio %}<p>{{profile.bio|truncatechars:"200"}}</p>{% endif %}
            </div>
          </div>
        </form>
        <br>

        {% if user.is_authenticated and profile.user == user %}
        <div class="row justify-content-center">
          <div class="col-9">
            <a class="btn btn-secondary btn-lg btn-block" href="{% url 'profile' %}">Edit profile</a></li>
          </div>
        </div>
        <br>
        {% endif %}
        <div class="row justify-content-center">
          <div class="col-9">

        {% if user.is_authenticated and profile.user != user %}
          {% for friend in friends_list %}
            {% if friend.creator != profile.user and profile.user == friend.following and friend.creator not in friends_list%}
              {{friend.creator}} 
            {% endif %}
          {% endfor %}

          </div>
        </div>
        <!-- Si ya es amigo, en vez de añadir, eliminar -->
            <div class="row justify-content-center">
              <div class="col-9">
                <a class="btn btn-secondary btn-lg btn-block" href="{% url 'delete_friend' profile.user %}">Delete friend</a></li>
              </div>
            </div>
            <br>
          <div class="row justify-content-center">
            <div class="col-9">
              <a class="btn btn-secondary btn-lg btn-block" href="{% url 'add_friend' profile.user %}">Add friend</a></li>
            </div>
          </div>
          <br>
        {% endif %} 
    
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="row">

            {% for  project in projects_list%}
              {% if project.author.user.username == profile.user.username %}
                  <div class="col-md-4 xs-4">
                    <div class="row">
                      <div style="width: 200px; height: 130px;">
                        <img src="{{project.image.url}}" style="width: 200px; height: 130px;" class="img-fluid" alt="Responsive image">
                      </div> 
                      {% if request.user.is_authenticated and project.author.user == request.user %} 
                    <ul class="nav navbar-nav d-inline-flex">
                        <li class="nav-item">
                        <ul class="list-inline-mb-0">
                            <li class="list-inline-item"><a href="{% url 'pages:update' project.id %}">Edit </a></li>
                            <li class="list-inline-item"><a href="{% url 'pages:delete' project.id %}">Delete</a></li>          
                        </ul>
                    </ul>
                    {% endif %}
                    </div> 
                  </div>
              {% endif %}
            {% endfor %}
            
            </div> 
          </div>
        </div> 
     
     </div>
     </div>

    </div>
  </div> 
</div>


{% endblock %}
