{% extends 'core/index.html' %}
{% load static %}
{% block title %}Hilo{% endblock %}
{% block content %}
<style>
  .avatar  { width:50px; height:50px; float:left; margin-right:10px; }
  .thread  { max-height:300px; overflow-y:auto; padding:0 0.5em;} 
  .mine    { padding:0 0.5em 0.25em; background-color:rgba(230,242,245,.5); width:92%; margin-left:8%; }
  .other   { padding:0 0.5em 0.25em; background-color:#f2f3f5; width:92%; }
</style>
<h1 style="margin: 80px"></h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="row">

          <!-- Comversation threads-->
          <div class="col-md-4">
            <!-- With inverse search in user.threads too we get the threads of one user -->
            {% for thread in request.user.threads.all %}
            <!-- Show thread if you have at least one message -->
              {% if thread.messages.all|length > 0 %}
                <div class="mb-3">
                  <!--Iterate all users of thread minus request.user-->
                  {% for user in thread.users.all %}
                    {% if user != request.user %}     
                      <!-- Shows avatarś of member -->                
                      <div style="width: 145px; height: 120px;">  
                        {% if user.profile.avatar %}
                          <img src="{{user.profile.avatar.url}}" style="width: 145px; height: 120px;" class="avatar">
                        {% else %}
                          <img src="{% static 'registration/img/no-avatar.jpg' %}" style="width: 145px; height: 120px;" class="avatar">
                        {% endif %}
                        <!-- show the time information --> 
                      </div>
                      <div>
                        <a href="{% url 'messenger:detail' thread.pk %}">{{user|title}}</a><br>
                        <small><i>{{thread.messages.last.created|timesince}}</i></small>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- Comversation threads-->
          <div class="col-md-8">
            <!--Iterate all users of thread minus request.user-->
            {% for user in thread.users.all %}
              {% if user != request.user %}       
                <h4 class="mb-4">Messages with <a href="{% url 'profiles:detail' user %} ">{{user|title}}</a></h4>
              {% endif %}
            {% endfor %}
            <!-- Sow the messages with vertical overflow of 300 píxeles -->
            <div class="thread" id="thread">
              {% for message in object.messages.all %}
                <!-- Difenrent color for users -->
                <div {% if request.user == message.user %}class="mine mb-3"{% else %}class="other mb-3"{% endif %}>
                  <small><i>{{message.created|timesince}} Ago.</i></small><br>
                  {{message.content}}
                </div>
              {% endfor %}
            </div>
            <!-- Create form-->
            <textarea id="content" class="form-control mb-2" rows="2" placeholder="Write your message"></textarea>
            <button id="send" class="btn btn-primary btn-sm btn-block" disabled>Send message</button>
            <script>
              var send = document.getElementById("send");
              send.addEventListener("click", function(){
                var content = encodeURIComponent(document.getElementById("content").value); // &
                if (content.length > 0){
                  document.getElementById("content").value = '';
                  send.disabled = true;
                  const url = "{% url 'messenger:add' thread.pk %}" + "?content="+content;
                  fetch(url, {'credentials':'include'}).then(response => response.json()).then(function(data){
                    // If message benn created correctly...
                    if (data.created) {
                      // If is the first message of thread, apear to the lefth
                      if (data.first) {
                        window.location.href = "{% url 'messenger:detail' thread.pk %}";
                      }
                      // If not redirect create new label whit message
                      var message = document.createElement('div');
                      message.classList.add('mine', 'mb-3');
                      message.innerHTML = '<small><i>Some seconds ago.</i></small><br>'+decodeURIComponent(content);
                      document.getElementById("thread").appendChild(message);   // Lo añadimos a la div thread
                      ScrollBottomInThread();  // Move the scroll all down
                    } else {
                      //Debuggs
                      console.log("Something is failed, the message dont will add to the thread.")
                    }
                  })
                }
              })

              // Evento que activa o desactiva el botón dependiendo de si hay o no mensaje
              var content = document.getElementById("content");
              content.addEventListener("keyup", function(){
                if (!this.checkValidity() || !this.value){
                  send.disabled = true;
                } else {
                  send.disabled = false;
                }
              })
              
              // Forzar el Scroll abajo del todo
              function ScrollBottomInThread(){
                var thread = document.getElementById("thread");
                thread.scrollTop = thread.scrollHeight;
              }

              ScrollBottomInThread();
            </script>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
