{% extends 'core/index.html' %}
{% load static %}
{% block title %}Mensajes{% endblock %}
{% block content %}

<h1 style="margin: 60px"></h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7" >
        <div class="row">
          <!-- Comversation threads-->
          <div class="col-3">
            <!--Combersation threads-->
            <!-- Show thread if you have at least one message -->
            {% for thread in request.user.threads.all %}
              {% if thread.messages.all|length > 0 %}
                <!--Iterate all users of thread minus request.user-->
                {% for user in thread.users.all %}
                  {% if user != request.user %}   
                    <!-- Show avatar menber -->
                    {% if user.profile.avatar %}
                      <img src="{{user.profile.avatar.url}}" class="avatar image is-128x128 img-fluid">
                    {% else %}
                      <img src="{% static 'registration/img/no-avatar.jpg' %}" class="avatar image is-128x128 img-fluid">
                    {% endif %}
                    <!-- Show information menbem-->
                      <br>
                      <a href="{% url 'messenger:detail' thread.pk %}">{{user|title}}</a><br>
                        <small><i>{{thread.messages.last.created|timesince}} ago.</i></small>
                    {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
            </div>
            <div class="col-9">
            <br>
            {% if request.user in request.user.threads.all %}
              <!-- Conversation threads -->
                <p class="text-right">Select a conversation thread from your left panel.</p>
              {% else %}
                <p class="text-right">Start a conversation with a friend.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
{% endblock %}
