{% extends 'core/index.html'%}

{% block title %}likes{% endblock %}
{% load static %}

{% block content %}
<h1 style="margin: 35px"></h1>
{% for like in object_list %}
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-7">
            <div class="card" >
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                            {{like}}
                        <a href="{% url 'pages:page' like.page.id like.page|slugify  %}" ><p class="title is-4" >{{like.page}}</p></a>
                        </div>
                    </div>
                </div>
            </div>
        <br><br>
{% endfor %}
{% endblock %}