<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--styles-->
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
    <!--js, ajax and jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <link rel="shortcut icon" type="image/png" href="{% static 'core/favicon.ico' %}"/>
</head>

<body>
    <div class="hero is-fullheight is-default is-bold">
    <div class="hero-head">
        <nav class="navbar bg-light" style="background-color: grey;">
            <div class="container"> 
                <div class="navbar-end">
                    <div class="tabs is-right">
                        <ul>
                        {% if request.path == '/pages/' %}<li class="is-active">{% endif %}
                            <a href="{% url 'pages:pages' %}">Home</a></li>
                        {% if request.user.is_authenticated %}
                            {% if request.path == '/pages/create/' %}<li class="is-active">{% endif %}
                            <a href="{% url 'pages:create' %}">Upload</a></li>
                            {% if request.path == '/messenger/' %}<li class="is-active">{% endif %}
                            <a href="{% url 'messenger:list' %}">Messenger</a></li>
                            {% with "/profiles/"|add:request.user.username|add:"/"  as profile_url  %}
                            {% if request.path == profile_url %}<li class="is-active">{% endif %}
                            <a href="{% url 'profiles:detail' request.user %}">{{request.user|truncatechars:"12"|title}}</a></li>
                            {% endwith %}
                            {% if request.path == '/profiles/' %}<li class="is-active">{% endif %}
                                <a href="{% url 'profiles:profiles' %}">Profiles</a></li>
                            {% if request.path == '/likes/' %}<li class="is-active">{% endif %}
                                <a href="{% url 'actions:actions' %}">Likes</a></li>
                            <a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            {% if request.path == '/accounts/login/' %}<li class="is-active">{% endif %}
                            <a href="{% url 'login' %}">Login</a></li>
                            {% if request.path == '/accounts/signup/' %}<li class="is-active">{% endif %}
                            <a href="{% url 'signup' %}">Signup</a></li>
                        {% endif %}
                        </ul> 
                    </div>
                </div>
            </nav>
        </div>
       {% block content %}{% endblock  %}
        <h1 style="margin: 35px"></h1>
        <div class="hero-foot">
            <div class="row justify-content-center">
                <p><strong>Web Pictures  </strong> All rigth reserved</p></li><br><br>
            </div>
        </div>
    </body>
</html>
