{% load thumbnail %}

{% load thumbnail %}

{% with user=action.user profile=action.user.profile %}

  <div class="action">
    <div class="images">
      
      <div class="row">
        <div class="col-3 align-self-start">

          {% if profile.avatar %}
            {% thumbnail user.profile.avatar "80x80" crop="100%" as im %}
              <a href="{% url 'profiles:detail' profile.user %}">
                <img src="{{ im.url }}"  alt="{{ user.get_full_name }}" class="item-img">
              </a>
            {% endthumbnail %}
          {% endif %}

        </div>
        <br>
        <div class="col align-self-center">  

          <div class="info">
            <p>
            <span class="date">{{ action.created|timesince }} ago</span>
            <a href="{% url 'profiles:detail' profile.user %}"> {{ user.profile }}</a>
            {{ action.verb }}
            {% if action.target %}

              {% with target=action.target %}
              {% if request.user == target %}
              you
              {% else %}
              <a href="{{ target.get_absolute_url }}" > {{target.title}}</a>  
              {% thumbnail target.profile.avatar "80x80" crop="100%" as im %}
              
                <a href="{{ target.get_absolute_url }}"> {{ target }}</a>
                <img src="{{ im.url }}" class="item-img" style="margin-left: 95px;">
              </a>
            </p>
            {% endthumbnail %}
                {% endif %}
              {% endwith %}
            {% endif %}
          
          </div>  
        </div>

        <div class="row justify-content-between">

          {% if action.target %}
            {% with target=action.target %}
              {% if target.image %}
                {% thumbnail target.image "80x80" crop="100%" as im %}
                  <a href="{{ target.get_absolute_url }}">{{target.title}}</a>
                    <img src="{{ im.url }}" class="item-img" style="margin-right: 10px;">
                
                {% endthumbnail %}
              {% endif %}
            {% endwith %}
          {% endif %}
        </div>
                   
      </div>  

    </div>
  </div>

{% endwith %}