{% extends 'pages/index.html'%}
{% block title %}Update{% endblock %}

{% block content %}
 <div class="container">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{page.image.url}}" alt="Placeholder image">
        </figure>
      </div>
    <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
      <div class="text-center">
        <p>Are you sure you want to delete"{{ object }}"?</p>
        <input type="submit" class="btn btn-primary btn-block" value="Confirm" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
