<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,user-scalable=no">
    <title>Instagram Portfolio</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/modernizr.js"></script>
</head>
<body>
    <header>
 
    </header>
    <section class="instagram-wrap">
 
    </section>
    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/instafeed.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
 
    </footer>
    <section class="footer-bottom">
 
    </section>
 
</body>
</html>






                {% load static %}
      


    {% for page in pages_list %}

                            <p class="title is-4">{{page.title}}</p>
                            <p class="subtitle is-6">{{page.author}}</p>
               
                        <img class="img-fluid" src="{{page.image.url}}" alt="Placeholder image">

                        {{page.comment}}
                        <a>{{page.categories}}</a>.
                        <a href="#">#{{page.categories}}</a>
                        <br>
                        <time datetime="{{page.created}}">{{page.created}}</time>
                
                                
                                <p>{{page.comment|striptags|safe|truncatechars:"200"}}</p>
                                <a href="{% url 'page' page.id page.title|slugify %}" class="material-icons">more_horiz</a>

        {% endfor %}


 