{% extends 'core/index.html'%}
{% block title %}Web Pictures Pics{% endblock %}

{% block content %}

<br><br><br><br>
<div class="container">
{% for page in page_list %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="card" >
                <div class="header">
                    <div class="media">
                        <div class="media-left">
                            <div style="width: 96px; height: 96px;">
                            <!-- Show avatar for user post-->
                            {% for users in avatar_list %}
                                {% if page.author == users.user %}
                                    <img src="{{users.avatar.url}}" style="width: 96px; height: 96px;" alt="Placeholder image">
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="media-content">
                            </p>
                            <a href="{% url 'profiles:detail' request.user %}" ><p class="title is-4" >{{page.author}}</p></a>
                            </p>
                            <p class="subtitle is-5">{{page.title}}</p>
                        </div>
                    </div>
                </div>
                    <figure class="image is-4by3">
                        <img src="{{page.image.url}}" alt="Placeholder image">
                    </figure>
                <div class="card-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item has-text-centered">
                                <form action="{% url 'pages:like-post' %}" method='POST'>{% csrf_token %}
                                <input type='hidden' name='post_id' value="{{page.id}}">
                                {% if user not in page.liked.all %}
                                    <button class="ui button" type="submit">Like</button>
                                {% else %}
                                     <button class="ui button negative" type="submit">Like</button>
                                {% endif %}
                                <strong></strong>
                                </form>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <i class="material-icons">chat_bubble_outline</i>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <i class="material-icons">send</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            <strong>{{ page.liked.all.count }} Likes</strong>
                        </p>
                        <p>{{page.comment|truncatechars:"300"}}</p>
                        <a>{{page.author}}</a>
                            {% for  category in page.categories.all %}
                                <a href="{% url 'pages:category' category.id %}" >#{{category.name}} </a>
                            {% endfor %}
                        <br>
                        <time datetime="{{page.created}}">{{page.created}}</time>
                    </div>
                    
                    <div class="card-footer">
                        <input class="input is-medium" type="text" placeholder="Add a comment . . .">
                    </div>
                    <br>
                    {% if user.is_authenticated and user == page.author %}
                    <ul class="nav navbar-nav d-inline-flex">
                        <li class="nav-item">
                        <ul class="list-inline-mb-0">
                            <li class="list-inline-item"><a href="{% url 'pages:update' page.id %}">Edit </a></li>
                            <li class="list-inline-item"><a href="{% url 'pages:delete' page.id %}">Delete</a></li>          
                        </ul>
                    </ul>
                    {% endif %}
                    <!-- Logic of comment likes-->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endfor %}

{% endblock  %}




