{% extends 'core/index.html'%}
{% block title %}Create{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<style>.errorlist{color:red;} label{display:none}</style>
<h1 style="margin: 50px"></h1>
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Update" />
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
