{% extends 'core/index.html'%}
{% block title %}Update{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<h1 style="margin: 54px"></h1>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <img src="{{page.image.url}}" class="img-fluid" alt="Responsive image" width="100%">
      <form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
          {{ form|crispy }}
      <div class="text-center">
        <p>Are you sure you want to delete"{{ object }}"?</p>
        <input type="submit" class="btn btn-secondary btn-block" value="Confirm" />
      </div>
      </form>
     
   </div>
  </div>
</section>

{% endblock %}
