{% extends 'pages/index.html'%}
{% block title %}Web Pictures My Pic {% endblock %}

{% block content %}

        <main role="main">
        <div class="container mb-4 col-8">
            <div class="columns body-columns">
                <div class="column is-9 is-offset-1">
                    <div class="card" >
                        <div class="header">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://source.unsplash.com/random/96x96" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <a href="{% url 'pages:page' page.id page.title|slugify %}" ><p class="title is-4" >{{page.author}}</p></a>
                                    <p class="subtitle is-6">{{page.title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{page.image.url}}" alt="Placeholder image">
                            </figure>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item has-text-centered">
                                        <a href="">
                                            <i class="material-icons">favorite_border</i>
                                        </a>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <i class="material-icons">chat_bubble_outline</i>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered">
                                        <div>
                                            <i class="material-icons">send</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                <p>
                                    <strong>32 Likes</strong>
                                </p>
                                <p>{{page.comment}}</p>
                                <a>{{page.author}}</a>
                                    {% for  category in page.categories.all %}
                                        <a href="{% url 'pages:category' category.id %}" >#{{category.name}} </a>
                                    {% endfor %}
                                <br>
                                <time datetime="{{page.created}}">{{page.created}}</time>
                            </div>
                            
                            <div class="card-footer">
                                <input class="input is-medium" type="text" placeholder="Add a comment . . .">
                            </div>
                            <br>
                            {% if request.user.is_staff %}
                                <a href="{% url 'pages:update' page.id %}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

