{% extends 'core/index.html' %}
{% load static %}
{% block title %}Enter the new password{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<h1 style="margin: 80px"></h1>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Enter the new password</h3>
            <p>"Please enter your new password twice so we can verify you typed it in correctly."</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Enter password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat password"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Reset my password"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Password reset failed</h3>
          <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset "<a href="{% url 'password_reset' %}">here</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}