{% extends 'core/index.html'%}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
  <style>.errorlist{color:red;} label{display:none}</style>
  <h1 style="margin: 60px"></h1>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        {% if 'ok' in request.GET %}
          <p style="color:green;">
            Page edited correctly!.
          </p>
          {% endif %}
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- avatar -->
            {% if request.user.profile.avatar %}
              <figure class="image is-5by4">
                <img src="{{request.user.profile.avatar.url}}" class="img-fluid">
              {% else %}
              <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
              {% endif %}
              </figure>
                <p class="mt-1">¿Delete? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
              <input type="file" name="avatar" class="form-control" id="id_avatar">
              {{ form.bio  }}
              {{ form.link }}
              <input type="email" value="{{request.user.email}}" class="form-control" readonly>
              <br>
              <p>
                If you want change your email click <a href="{% url 'profile_email' %}">here</a>.<br>
                And if you want to change your password click <a href="{% url 'password_change' %}">here</a>.
              </p>
              <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Upgrade">
          </form>
                <!-- Form-->
      </div>
    </div>
  </div>
<br>
{% endblock %}
